<!DOCTYPE html>
<html>
<head></head>
<body>

	<h2>Reset Your Password</h2>

	<h3>
		Hello <span data-th-text="${userName}"></span>,
	</h3>

	<p>
		Tap the button below to reset your account password.<br /> If you
		didn't request a new password, you can safely delete this email.
	</p>

	<a data-th-href="${resetPasswordLink}">
		<button>Reset Password</button>
	</a>

	<br />

	<p>If that doesn't work, copy and paste the following link in your
		browser.</p>

	<a data-th-href="${resetPasswordLink}"> <span
		data-th-text="${resetPasswordLink}"></span>
	</a>


	<br>
	<p>
		Regards, <br /> The NoteShelf team.
	</p>

</body>
</html>
